*{
        margin: 0;
        font-family:'Raleway', sans-serif;

}
.App{
        height: 100vh;
        background-image: url('https://c4.wallpaperflare.com/wallpaper/154/173/260/blue-gradient-simple-wallhaven-wallpaper-preview.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

               /* overflow: hidden; */
}